[Desktop Entry]
Categories=Utility;RemoteAccess;
Comment=Keyboard and mouse sharing solution
Exec=barrier
Icon=barrier
Keywords=keyboard;mouse;sharing;network;share;
Name=Barrier
Terminal=false
Type=Application
