[Desktop Action Quit]
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=/app/bin/telegram-desktop org.telegram.desktop -quit
Icon=application-exit
Name=Quit Telegram

[Desktop Entry]
Actions=Quit;
Categories=Chat;Network;InstantMessaging;Qt;
Comment=Official desktop version of Telegram messaging app
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=/app/bin/telegram-desktop --file-forwarding org.telegram.desktop -- @@u %u @@
Icon=org.telegram.desktop
Keywords=tg;chat;im;messaging;messenger;sms;tdesktop;
MimeType=x-scheme-handler/tg;
Name=Telegram Desktop
SingleMainWindow=true
StartupWMClass=TelegramDesktop
Terminal=false
Type=Application
X-Flatpak=org.telegram.desktop
X-GNOME-SingleWindow=true
X-GNOME-UsesNotifications=true
