[Desktop Entry]
Name=Switch the screen of all windows
Comment=Switch the screen of all windows
Icon=preferences-system-windows-script-test

X-Plasma-API=javascript
X-Plasma-MainScript=code/main.js

X-KDE-PluginInfo-Author=José Millán Soto
X-KDE-PluginInfo-Email=jmillan@kde-espana.org
X-KDE-PluginInfo-Name=switchAllWindowsScreen
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-EnabledByDefault=true

X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-ServiceTypes=KWin/Script
Type=Service
